@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/*@tailwind base;*/

/*@tailwind components;*/

/*@tailwind utilities;*/

@font-face {
    font-family: 'DBLim';
    src: '../asset/fonts/mahidol/DB_Lim_X_v3.2.ttf';
    /* src: url("{{ asset('/fonts/mahidol/DB_Lim_X_v3.2.ttf') }}"); */
}

p.ql-align-center {
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

p.ql-align-right {
    display: flex;
    justify-content: right;
    /* background-color: blue; */
}

@layer base {
    html {
        /*
         * นี่คือจุดที่ CSS อ่านค่าจากตัวแปร (--web-saturation)
         * ที่เราส่งมาจาก Blade
         */
        filter: saturate(var(--web-saturation))
        brightness(var(--web-brightness))
        contrast(var(--web-contrast));
    }
}

/*p.ql-align-left {*/
/*    display: inline;*/
/*    margin: 0px 1em 1em 0px;*/
/*    float: left;*/
/*    justify-content: left;*/
/*    !* background-color: yellow; *!*/
/*}*/

/*p.ql-align-center {*/
/*    display: flex;*/
/*    margin: auto;*/
/*    justify-content: center;*/
/*    !* background-color: yellow; *!*/
/*}*/

/*p.ql-align-right {*/
/*    display: inline;*/
/*    margin: 0px 0px 1em 1em;*/
/*    float: right;*/
/*    justify-content: right;*/
/*    !* background-color: blue; *!*/
/*}*/
